{% extends 'layout/base.html' %}
{% load static %}
{% block title %}| Administration{% endblock %}
{% block activeAdm %}active{% endblock%}
{% block content %}
<div class="container">
	<div id="table_des_ventes" class="stat_table_container">
		<div class="row">
			<div class="col-8">
				<h4>Table des ventes</h4>
			</div>
			<div class="col-4" style="text-align:right; ">
				<button id="newprod" class="btn btn-outline-dark btn-sm "style="margin-bottom: 10px; " data-toggle="modal" data-target="#exampleModal">Nouveau produit</button>
			</div>
		</div>

		<table class="table table-responsive-sm ">
			<thead>
				<tr>
					<th>#Code</th>
					<th>Produit</th>
					<th>Image</th>
					<th>Qte <br class="d-md-none" > dispo</th>
					<th>Prix (DZD)</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="prod_list_table">
				{% for p in products %}
					<tr>
						<td>{{p.code}}</td>
						<td>{{p.nom}}</td>
						<td style="position: relative;" id="{{p.code}}hover">
							<img style="max-width: 30px;max-height: 30px;" src="{{p.image}}">
							<div id="{{p.code}}" style="position: absolute;top: -50px;left: -49px;z-index: 5;">
								<img style="max-width: 150px;max-height: 150px;" src="{{p.image}}">
							</div>
						</td>
						<td>{{p.qte}}</td>
						<td>{{p.prix}}</td>
						<td style="text-align: right;">
							{% if p.sell == 0 %}
								<a href="{% url 'supprimerproduit' %}?id={{p.code}}" class="btn btn-outline-dark btn-sm">Supprimer</a>
							{% endif %}
							<button class="btn btn-outline-dark btn-sm">Modifier</button>
						</td>

					</tr>
					<script type="text/javascript">
						$('#{{p.code}}').hide();
						$('#{{p.code}}hover').hover(function () {
							$('#{{p.code}}').show();
						});
						$('#{{p.code}}hover').mouseleave(function () {
							$('#{{p.code}}').hide();
						});
					</script>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="employe" class="stat_table_container">
		<div class="row">
			<div class="col-8">
				<h4>Employés</h4>
			</div>
			<div class="col-4" style="text-align:right; ">
				<button class="btn btn-outline-dark btn-sm "style="margin-bottom: 10px; ">Nouveau Employe</button>
			</div>
		</div>

		<div style="overflow: auto; max-height: 500px;">
		<table class="table table-responsive-sm ">
			<thead>
				<tr>
					<th>#Code</th>
					<th>Nom</th>
					<th>Username</th>
					<th>Type</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="adm_employe_list">
				{% for e in employes %}
					<tr>
						<td>{{e.id}}</td>
						<td>{{e.nom}}</td>
						<td>{{e.username}}</td>
						<td>{{e.type}}</td>
						<td style="text-align: right;padding-left:0;padding-right:0;">
						    <div class="row ml-0 mr-0" >
							<div class="col-md-6 col-sm-12"><button class="btn btn-outline-dark btn-sm" style="width:100%;margin-bottom:5px;">Modifier</button></div>
							<div class="col-md-6 col-sm-12"><button class="btn btn-outline-dark btn-sm" style="width:100%;">Supprimer</button></div>
						    </div>
						</td>
					</tr>
				{% endfor%}
			</tbody>
		</table>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document"  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form action="{% url 'ajoutproduit' %}" method="POST" enctype="multipart/form-data">
      		{% csrf_token %}
      		<div class="form-group">
				<input class="form-control " type="text" name="prod_name" placeholder="Nom du produit">
			</div>
			<div class="form-group">
				<input class="form-control " type="number" name="prod_PU" placeholder="Prix du produit">
			</div>
			<div class="form-group">
				<input class="form-control " type="number" name="prod_Q" placeholder="qte">
			</div>
			<div class="form-group">
				<input class="form-control " type="number" name="prod_sell" placeholder="qte vendu" value="0" hidden>
			</div>
			<div class="form-group">
				<input class="form-control " type="file" name="prod_image" >
			</div>
			<div class="form-group">
				<input type="submit" name="valide" value="Valider" class="form-control " style="max-width: 100%">
			</div>
      	</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	var newprodid=0;
	$('#newprod').click(function () {
		newprodid++;
		url="{% url 'ajoutproduit' %}";
		var addprodhtml=' <tr id="'+newprodid+'">';
		addprodhtml+='<form action="'+url+'" method="POST" enctype="multipart/form-data">';
		addprodhtml+='<input class="form-control form-control-sm" type="text" name="prod_name" placeholder="Nom du produit">';
		addprodhtml+='<input class="form-control form-control-sm" type="file" name="prod_image" >';
		addprodhtml+='<input class="form-control form-control-sm" type="number" name="prod_Q" placeholder="qte">';
		addprodhtml+='<input class="form-control form-control-sm" type="number" name="prod_PU" placeholder="Prix du produit">';
		addprodhtml+='<input class="form-control form-control-sm" type="submit" name="valide" id="submitt_newprod" style="max-width: 100%">';
		addprodhtml+='</form></tr>';

		currenthtml=$('#prod_list_table').html();
		$('#prod_list_table').html(currenthtml+addprodhtml);
	});
	// $('#submitt_newprod').click(function () {
	// 	postdata={prod_name:,prod_image:,};
		
	// });

</script>
{% endblock %}