{% extends 'layout/base.html' %}
{% load static %}
{% block title %}| Produit{% endblock %}
{% block activeP %}active{% endblock%}
{% block activeP_side %}active{% endblock%}
{% block content %}
<div class="container">
	<div class="row" style="margin: 0px">
		{% for prod in prod_list %}
		    <div id="id{{prod.id}}" class="col-lg-4 col-sm-6 prod_div" style="padding-bottom: 20px;transition:top .5s;">
				<div class="product-image"  style="overflow: hidden;">
					<img src="{{prod.image}}" >
				</div>
				<div class="prod_details" style="text-align: center;">
					<span><p>{{ prod.name }} - </p><small> {{ prod.pu }} DZD</small></span>
				</div>
			</div>
			{% endfor %}
		<script type="text/javascript">
			$('.product-image').css('max-height',$('.product-image').width());
			$(window).resize(function () {
				$('.product-image').css('max-height',$('.product-image').width());
			});
		</script>
	</div>
</div>
{% endblock%}
