{% extends 'layout/base.html' %}
{% load static %}
{% block title %}| Vendre{% endblock %}
{% block activeV %}active{% endblock%}
{% block content%}
<div class="container">
	<p>{{msg}}</p>
	<form method="POST"  class="col-lg-6 col-sm-12" style="padding: 20px;margin: auto;">
		{% csrf_token %}
		<div class="form-group">
			<label for="vendeur_id">ID du vendeur(se) :</label>
			<input class="form-control " type="text" name="vendeur_id" id="vendeur_id" value="{{user.vend_code}}" >
			<small class="text-muted">veuiller entre votre code vendeur</small>
		</div>
		<div class="form-group">
			<label for="prod_id">Produit vendu :</label>
			<select class="form-control" name="prod_id" id="prod_id" autofocus>
				{% for prod in prod_list %}
				<option value="{{prod.id}}">{{prod.name}}</option>				
				{% endfor %}
			</select>
			<small class="text-muted">veuiller choisir le produit vendu</small>
		</div>
		<div class="form-group">
			<label for="qte_id">Quantité vendu :</label>
			<input class="form-control " type="number" name="qte" id="qte">
			<small class="text-muted">veuiller entre la quantité vendu</small>
		</div>
		<div class="form-group">
			<label for="pu_id">Prix unitaire de vente :</label>
			<input class="form-control " type="number" name="pu" id="pu">
			<small class="text-muted">veuiller entre la prix unitaire </small>
		</div>
		<div class="form-group">
			<label for="pu_id">Etat de payement :</label>
			<select class="form-control" name="etat" id="etat">
				<option value="1">payé</option>
				<option value="0">non payé</option>
			</select>
			<small class="text-muted">veuiller choisir l'état de payement</small>
		</div>
		<div class="form-group">
			<input type="submit" name="valide" value="Valider" class="form-control " style="max-width: 100%">
		</div>
	</form>
	
</div>
{% endblock %}